@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #FAFAF8;
}

#root {
  height: 100dvh;
}

@theme {
  --font-sans: 'Inter', sans-serif;
}

.main {
  padding: 50px 20px 50px;
  border: 1px solid #E5E7EB;
}

.input {
  padding-left: 1rem;
}


